# Dependency folders
node_modules/
jspm_packages/

# Temporary DB folder (ป้องกันการเผลอ commit ไฟล์ข้อมูลลูกค้า/บริษัทขึ้น Git)
temp_db/*
!temp_db/.gitkeep

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dockerinstruction.txt
.git
viewer.tar 
